<!DOCTYPE html>
<html>
<body>
  <form action="/things/new" method="POST">
    <label for="thing">Thing:</label>
    <input type="text" name="thing">
    <label for="user-select">Choose a user:</label>
    <select name="user-select">
      {% for user in users %}
      <option value="{{ user.id }}">{{ user.name }}</option>
      {% endfor %}
    </select>
    <input type="radio" name="vote" value="1">Oh yes
    <input type="radio" name="vote" value="0">God no
    <input type="submit" value="Enter">
  </form>
</body>
</html>
